* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: sans-serif;
}

h1, h2, h3 {
    font-family: p22-underground, sans-serif;
    font-style: normal;
    text-transform: uppercase;
    text-align: center;
}
h1 {
    font-weight: 500;
    font-size: 36pt;
}

h2 {
    font-weight: 300;
    font-size: 26pt;
}

h3 {
    font-size: 20pt;
}

div#container {
    height: 200vh;
    max-height: 200vh;
    display: flex;
    flex-direction: column;
    /* overflow: hidden; */
}

figure#chart {
    height: 100vh;
    max-height: 100vh;
    /* overflow: hidden; */
    padding: 0px;
    margin: 0px;
}

body {
    margin: 0;
}
#header {
    flex: 1 0 5%;
    text-align: center;
    background: #84a59d;
    color: black;
    border-bottom: 2px solid  #f28482;
    border-bottom: 5px dotted #f6bd60;
}

#body {
    flex: 1 0 95%;
    display: flex;
    flex-direction: row;
}

#left {
    flex: 1 0 60%;
    margin: 20px;
}

#right {
    flex: 1 0 35%;
    background-color: #f5cac3;
}

.tooltip {
    position: absolute;
    left: 0px;
    top: 0px;
    visibility: hidden;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14pt;
    background-color:rgba(132, 165, 157, 0.75);
    padding: 2px;
    pointer-events: none;
}

.buttons {
    text-align: center;
}

.buttons > button {
    background-color: #f5cac3;
    padding: 10px;
    margin: 10px;
    color: black;
    border-radius: 5;
    font-size: 20px;
    border: none;
    display: inline-block;
}

a {
    color: #f28482;
    text-decoration: none;
}

a:hover {
    text-decoration: underline #84a59d;
}

.buttons > button:hover {
    background-color: #f28482;
    color: white;
}

p {
    margin: 20px;
    line-height: 1.3;
}

.img-container {
    max-width: 900px;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.img-container img {
    width: 100%;
    max-width: 900px;
    z-index: -2;
}

button {
    height: 10%;
    border: none;
    outline: none;
    background: rgba(0, 0, 0, 0);
    cursor: pointer;
    padding: 1em;
    display: flex;
}

button .arrow {
    border: solid black;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 10px;
    transition: transform 0.3s ease-out;
    outline: none;
    margin: 10px;
}

#right-btn {
    margin: auto 0 auto -2em;
}

#right-btn .arrow {
    transform: rotate(-45deg);
}

#left-btn {
    z-index: 0;
    margin: auto -2em auto 0;
}

#left-btn .arrow {
    transform: rotate(135deg);
}
