* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: sans-serif;
}

html {
    scroll-behavior: smooth;
}

h1, h2, h3,
button {
    font-family: p22-underground, sans-serif;
    font-style: normal;
    text-transform: uppercase;
    text-align: center;
    margin: 15px 0;
}
h1 {
    font-weight: 500;
    font-size: 36pt;
}

h2 {
    font-weight: 300;
    font-size: 26pt;
}

h3,
button {
    font-size: 20pt;
}

body {
    margin: 0;
    background-color: #FFEEDD;
}

div#container {
    display: flex;
    flex-direction: column;
}

#header {
    flex: 1 0 5%;
    text-align: center;
    background: #628644;
    color: black;
    border-bottom: 5px dotted #000000;
}

#footer {
    flex: 1 0 1%;
    text-align: center;
    background: #628644;
    color: black;
    border-top: 5px dotted #000000;
}

.section {
    padding: 20px;
    display: flex;
    flex-direction: row;
    margin: 50px;
}

.right {
    flex: 1 0 60%;
}

.left {
    position: sticky;
    top: 0;
    align-self: start;
    background:#FFF5EB;
    box-shadow: 10px 10px #ffdbb6;
    padding: 20px;
    margin: 45px 55px 0 5%;
}

.right,
.left {
    margin-top: 45px;
}

.tooltip {
    position: absolute;
    left: 0px;
    top: 0px;
    visibility: hidden;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14pt;
    padding: 5px;
    pointer-events: none;
}

.buttons {
    text-align: center;
}

.buttons > button {
    background-color: #ffffff;
    padding: 10px;
    margin: 10px;
    color: #000000;
    border: 2px solid #000000;
    border-radius: 5px;
    font-size: 20px;
    display: inline-block;
    border-collapse: separate;
    margin-top: 0;
}

.active {
    font-weight: bold;
    border: 4px solid #000000!important;
    color: #000000!important;
}

#source {
    text-decoration: none;
    font-size: 14pt;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    display:block;
    color:#000000;
}

#source:hover {
    text-decoration: underline #000000;
}

p {
    margin: 20px;
    line-height: 1.3;
    font-size: 14pt;
}

.img-container {
    justify-content: center;
    align-items: center;
    text-align: center;
    max-height: 500px;
}

.img-container img {
    /* width: 100%; */
    max-width: 800px;
    z-index: -2;
    max-height: 500px;
}

#chart {
    padding: 0px;
    margin: 0px;
    position: relative;
}

button {
    height: 10%;
    border: none;
    outline: none;
    background: rgba(0, 0, 0, 0);
    cursor: pointer;
    padding: 1em;
    display: flex;
}

button .arrow {
    border: solid black;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 15px;
    transition: transform 0.3s ease-out;
    outline: none;
    margin: 15px;
}

svg {
    border: 1px solid black;
    background-color: #FFF5EB;
    border-radius: 5px;
}

#T-img {
    height: 30px;
    margin-left: 20px;
    /* margin-top: 10px; */
    z-index: 0;
    position: absolute;
    margin-top: -10px;
}

.tab {
    display: inline-block;
    margin-left: 30px;
}