* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

div#container {
    height: 200vh;
    max-height: 200vh;
    /* overflow: hidden; */
}

figure#chart {
    height: 100vh;
    max-height: 100vh;
    /* overflow: hidden; */
    padding: 0px;
    margin: 0px;
}

svg {

    border: black solid 2px;
}

.tooltip {
    position: absolute;
    left: 0px;
    top: 0px;
    visibility: hidden;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14pt;
    background-color:rgba(255, 255, 255, 0.5);
    padding: 2px;
    pointer-events: none;
}